# MDK-ARM / Keil 编译输出
**/MDK-ARM/tmp/
**/MDK-ARM/DebugConfig/
**/MDK-ARM/*.uvguix.*
**/MDK-ARM/*.uvoptx
**/MDK-ARM/EventRecorderStub.scvd
**/MDK-ARM/JLinkSettings.ini
**/MDK-ARM/*.sct
**/MDK-ARM/*.cbuild-idx.yml
**/MDK-ARM/*.cbuild-pack.yml
**/MDK-ARM/*.cbuild-set.yml
**/MDK-ARM/*.cbuild.yml
**/MDK-ARM/*.cproject.yml
**/MDK-ARM/*.csolution.yml
**/MDK-ARM/*.cprj
**/MDK-ARM/RTE/

# 编译中间文件
**/MDK-ARM/1/

# JLink
**/JLinkSettings.ini

# IDE
.vscode/
**/.vscode/

# Python
__pycache__/
*.pyc

# 系统文件
Thumbs.db
.DS_Store
