*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
Templates/
Examples/
*.axf
*.bin
*.hex
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.scvd

*.dep
*.crf
*.htm
tmp
uv2csolution.log
*.cprj
*.clog
out
